
<app-add-receipt-modal (update)="loadData()"></app-add-receipt-modal>
<div class="container">
    <div style="margin-bottom: 20px">
        <button nz-button nzType="primary" (click)="addReceipt()">Добавить рецепт</button>
    </div>
    
    <nz-spin [nzSpinning]="isLoading$ | async">
        <ng-container *ngFor="let receipt of receipts">
            <app-receipt-card class="receipt-card" [receipt]="receipt" (update)="loadData()" (change)="editReceipt($event)"></app-receipt-card>
        </ng-container>
    </nz-spin>
</div>
