<nz-spin [nzSpinning]="isLoading$ | async"
  ><nz-card
    style="width: 250px"
    [nzCover]="coverTemplate"
    [nzActions]="[actionEdit, actionDelete]"
  >
    <nz-card-meta
      [nzTitle]="receipt.name + '(' + receipt.authorLogin +')'"
      [nzDescription]="receipt.description"
      [nzAvatar]="avatarTemplate"
    ></nz-card-meta>
  </nz-card>
  <ng-template #avatarTemplate>
    <nz-avatar
      nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
    ></nz-avatar>
  </ng-template>
  <ng-template #coverTemplate>
    <img
      alt="example"
      src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"
    />
  </ng-template>
  <ng-template #actionEdit>
    <span nz-icon nzType="edit" (click)="edit()"></span>
  </ng-template>
  <ng-template #actionDelete>
    <span nz-icon nzType="delete" (click)="remove()"></span>
  </ng-template>
</nz-spin>
