<header>
  <div class="header-content">
    <img
      class="logo"
      src="https://devforum-uploads.s3.dualstack.us-east-2.amazonaws.com/uploads/original/5X/b/d/f/f/bdff3779c851eeb7fe3c503931f038d856342392.png"
      routerLink="/"
      alt=""
    />
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item routerLink="/" nzSelected>Главная</li>
      <li nz-menu-item routerLink="/receipts">Рецепты</li>

      <li nz-menu-item>Избранное</li>
    </ul>
    <div
      *ngIf="(auth.isLoading$ | async) == false && (auth.user$ | async) as user"
    >
    <li
            nz-dropdown
            [nzDropdownMenu]="userMenu"
            nzTrigger="click"
            nzPlacement="bottomRight"
            class="user"
            (nzVisibleChange)="isVisibleMenu = $event">
            <span>{{ user.email }}</span>
            <i nz-icon nzType="down" [nzRotate]="isVisibleMenu ? 180 : 0"></i>
        </li>
        <nz-dropdown-menu #userMenu="nzDropdownMenu">
          <ul nz-menu class="user-menu">
              <li nz-menu-item (click)="showUserProfile()">
                  <i nz-icon nzType="user" nzTheme="outline"></i>
                  <span>Профиль</span>
              </li>
              <li nz-menu-item>
                  <i nz-icon nzType="setting"></i>
                  <span>Настройки</span>
              </li>
      
              <li nz-menu-divider></li>
              <li nz-menu-item (click)="auth.logOut(); router.navigate(['/'])">
                  <i nz-icon nzType="export"></i>
                  <span>Выход</span>
              </li>
          </ul>
      </nz-dropdown-menu>
    </div>
    <button
      nz-button
      nzType="primary"
      *ngIf="
        (auth.isLoading$ | async) == false && (auth.user$ | async) === null
      "
      routerLink="/login"
    >
      Войти
    </button>
  </div>
</header>
<app-edit-user-modal (updateUser)="updateUser()"></app-edit-user-modal>