<div class="container">
  <nz-spin [nzSpinning]="isLoading$ | async">
    <div class="container-info">
      <ng-container *ngIf="viewMode; else edit">
        <div>Автор: {{ receipt?.authorLogin }}</div>
        <div>Название: {{ receipt?.name }}</div>
        <div>Описание: {{ receipt?.description }}</div>
        <div class="step" *ngFor="let step of receipt?.steps; let i = index">
          <div>
            <strong>ШАГ {{ i + 1 }}</strong
            >: {{ step.description }}
          </div>
        </div>
      </ng-container>
      <ng-template #edit>
        <button nz-button style="margin-bottom: 20px" nzType="primary" (click)="addReceipt()">
          Добавить/изменить рецепт
        </button>
        <form nz-form [formGroup]="form" class="login-form">
          <nz-form-item>
            <nz-form-control nzErrorTip="Поле должно быть заполнено">
              <nz-input-group nzPrefixIcon="user">
                <input
                  type="text"
                  nz-input
                  formControlName="name"
                  placeholder="Название"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Поле должно быть заполнено">
              <nz-input-group nzPrefixIcon="lock">
                <input
                  type="text"
                  nz-input
                  formControlName="description"
                  placeholder="Описание"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </form>

        <button nz-button nzType="primary" (click)="addStep()">
          Добавить шаг
        </button>

        <div class="step" *ngFor="let step of steps; let i = index">
          <strong>ШАГ {{ i + 1 }}: </strong>
          <div class="step-description">
            <textarea nz-input name="" id="" [(ngModel)]="step.description">
            </textarea>
            <button
              nz-button
              nzType="primary"
              nzDanger
              nzShape="circle"
              (click)="removeStep(i)"
            >
              <span nz-icon nzType="delete"></span>
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </nz-spin>
</div>
