<form nz-form [formGroup]="form" class="login-form" (ngSubmit)="sendForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Поле должно быть заполнено и содержать корректную почту">
        <nz-input-group nzPrefixIcon="mail">
          <input type="text" nz-input formControlName="email" placeholder="Почта" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Поле должно быть заполнено">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Пароль" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">{{typeForm === 'login' ? 'Войти' : 'Зарегистрироваться'}}</button>
    <a *ngIf="typeForm === 'register'" (click)="typeForm = 'login'">Есть аккаунт? Войти</a>
    <a *ngIf="typeForm === 'login'" (click)="typeForm = 'register'">Нет аккаунта? Зарегистрироваться</a>
  </form>